body {
  background-color: black;
  width: 100%;
  height: 100%;
}
canvas#cv1 {
  width: 320px;
  height: 240px;
  border: solid 2px white;
  /*border-radius: 10px;*/
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vt323.woff), local('VT323'), local('VT323-Regular'), url(http://fonts.gstatic.com/s/vt323/v7/LfMzj2MWAZU6qzlnp1MNbg.woff) format('woff');
}
.zoom {
  zoom: 3;
  opacity: 1;
}
.giro {
  /*zoom: 1.5;*/
  opacity: .7;
  transform: perspective(600px) rotateY(20deg);
}
canvas {
  float: left;
}

#ifr {
  border: none;
  float: right;
  width: 1024px;
  height: 768px;
}
